@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: min(800px, 100%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #3e517a;
  margin-top: 8px;
}

.slider img {
  display: none;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.slider .visivel {
  display: block;
}

.slider .controles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.slider button {
  border: none;
  background: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: 0.3s background;
}

.slider button:hover {
  background: #eee;
}

.slider .seletores {
  display: flex;
  gap: 4px;
  align-items: center;
}

.slider .seletores button {
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.slider .seletores .ativo {
  background-color: #8ee3f5;
}
