* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: min(800px, 100%);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.slider img {
  display: none;
  height: 100%;
  width: auto;
}

.slider .visivel {
  display: block;
}

.slider .controles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.slider button {
  padding: 10px;
  border: none;
  background: #eee;
  border-radius: 8px;
  cursor: pointer;
}
